<header class="p-3 mb-3 border-bottom">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <%= link_to root_path do %>
      <%= image_tag('adog.svg',height: '60px') %>
      <% end %>
      <path d="M8 4.143A1.071 1.071 0 1 0 8 2a1.071 1.071 0 0 0 0 2.143Zm-4.668 1.47 3.24.316v2.5l-.323 4.585A.383.383 0 0 0 7 13.14l.826-4.017c.045-.18.301-.18.346 0L9 13.139a.383.383 0 0 0 .752-.125L9.43 8.43v-2.5l3.239-.316a.38.38 0 0 0-.047-.756H3.379a.38.38 0 0 0-.047.756Z"/>
      <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0ZM1 8a7 7 0 1 1 14 0A7 7 0 0 1 1 8Z"/>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li>
          <%= link_to t('header.menu.sketches'), sketches_path, class: current_link_class(sketches_path)%>
          </li>
          <li>
          <%= link_to t('header.menu.tatto'), tatto_masters_path, class: current_link_class(tatto_masters_path)%>
          </li>
          <li>
          <%= link_to t('header.menu.our'), our_works_path, class: current_link_class(our_works_path)%>
          </li>
          <li>
          <%= link_to t('header.menu.reviews'), reviews_path, class: current_link_class(reviews_path)%>
          </li>
          <li>
          <%= link_to t('header.menu.other'), other_path, class: current_link_class(other_path)%></li>
        </ul>
<<<<<<< HEAD
        <% if user_signed_in? %>
        <div class="dropdown">
  <button class="btn btn-ordinary dropdown-toggle shadow-none" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
  </button>
  <ul class="dropdown-menu dropdown-menu-secondary" style="">
    <li><%= link_to t('devise.new'), new_article_path, class: 'dropdown-item' %></li>
    <li><%= link_to t('devise.account'), edit_user_registration_path, class: 'dropdown-item'%></li>
    <li><hr class="dropdown-divider"></li>
    <li>
      <%= button_to t('devise.logout'), destroy_user_session_path, method: :delete, form: {turbolink: false}, class: "dropdown-item" %>
    </li>
  </ul>
</div>
    <% else %>
     <div class="text-end">
      <%= link_to user_session_path do %>
       <button type='button' class='btn btn-warning'><%= t('devise.sessions.new.sign_in')%></button>
        <% end %>
          <%= link_to new_user_registration_path do %>
          <button type='button' class='btn btn-secondary'><%= t('devise.registrations.new.sign_up')%></button>
          <% end %>
          </div>
        <% end %>
=======
>>>>>>> parent of b86f324 (Added Devise registration/auth)
      </div>
    </div>

  </header>

